body {
  max-width: 1920px;
  height: 980px;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 50px;
}
header {
  width: 100%;
  height: 70px;
  /* border: red solid 4px; */
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-top: 30px;
}

header img {
  width: 150px;
  object-fit: cover;
  object-position: center;
}

main {
  width: 100%;
  height: 100vw;
  /* border: blue solid 4px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titles {
  box-sizing: border-box;
  /* border: white solid 3px; */
}
.titles h2 {
  color: white;
  font-family: "Oxygen", sans-serif;
  font-size: 22px;
}

.images {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.images::-webkit-scrollbar {
  /* display: none; */
  background: transparent;
}

.images img {
  height: 127px;
  width: 223px;
}
